<!DOCTYPE html>
<!--[if lt IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if lt IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!--> <html lang="en"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>Jinja2 Hack Skeleton</title>
  <meta name="description" content="Jinja2 quick 'n dirty playground">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{STATIC_URL}}main.css">

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  
  {% block content %}{% endblock %}


</body>
</html>
